<thead>
    <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Gender</th>
        <th scope="col">Hobby</th>
        <th scope="col">City</th>
    </tr>
</thead>
<tbody>
    <% var i=1; for(var d of data) { %>
        <tr >
            <th scope="row"><%= i %></th>
            <td><%= d.name %></td>
            <td><%= d.email %></td>
            <td><%= d.phone %></td>
            <td><%= d.gender %></td>
            <td><%= d.hobby %></td>
            <td><%= d.city %></td>
        </tr>
        <% i++} %>
        <tr>
            <td colspan="7" align="center">
                <!-- <% for(var i=1; i<=page; i++) { %>
                    <a href="?page=<%= i %>" class="btn btn-primary"><%= i %></a>
                <% } %> -->
                <% if(currentPage != 1) { %>
                    <a href="?page=<%= currentPage-1 %>&search=<%= search %>" id="pr" class="btn btn-primary">Prev</a> 
                <% } %>

                    <a href="?page=<%= currentPage %>&search=<%= search %>"><%=  currentPage  %></a>

                <% if(currentPage != page) { %>
                    <% let next = parseInt(currentPage)+1 %>
                    <a href="?page=<%= next %>&search=<%= search %>" id="nxt" class="btn btn-primary">Next</a>
                <% } %>
            </td>
        </tr>
</tbody>