<%- include('header') %>
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Admins</h4>
                            </div>
                            <!-- <input type="text"> -->
                        </div>
                        <div class="iq-card-body">
                            <!-- <p>You can also invert the colors—with light text on dark backgrounds—with <code
                                    class="highlighter-rouge">.table-dark</code>.</p> -->
                            <table class="table table-dark" id="showSearch">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Hobby</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Active/Deactive</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var i=1; for(var d of data) { %>
                                        <tr >
                                            <th scope="row"><%= i %></th>
                                            <td><%= d.name %></td>
                                            <td><%= d.email %></td>
                                            <td><%= d.phone %></td>
                                            <td><%= d.gender %></td>
                                            <td><%= d.hobby %></td>
                                            <td><%= d.city %></td>
                                            <% if(d.isActive == true) { %>
                                                <td><a href="/deActive/<%= d.id %>" class="btn btn-primary">Deactive</a></td>
                                            <% } %>
                                            <% if(d.isActive == false) { %>
                                                <td><a href="/active/<%= d.id %>" class="btn btn-success">Active</a></td>
                                            <% } %>
                                        </tr>
                                        <% i++} %>
                                </tbody>
                                <tr>
                                    <td colspan="7" align="center">
                                        <!-- <% for(var i=1; i<=page; i++) { %>
                                            <a  id="page" class="btn btn-primary"><%= i %></a>
                                        <% } %> -->
                                        <% if(currentPage != 1) { %>
                                            <a href="?page=<%= currentPage-1 %>&search=<%= search %>" id="pr" class="btn btn-primary">Prev</a> 
                                        <% } %>

                                            <a href="?page=<%= currentPage %>&search=<%= search %>"><%=  currentPage  %></a>

                                        <% if(currentPage != page) { %>
                                            <% let next = parseInt(currentPage)+1 %>
                                            <a href="?page=<%= next %>&search=<%= search %>" id="nxt" class="btn btn-primary">Next</a>
                                        <% } %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        function getSearch(){
            var search = document.getElementById('search').value;
            $.ajax({
                url:'/searchingAdmin',
                type:'get',
                data:{search:search},
                success:(res)=>{
                  $('#showSearch').html(res)
                }
            })
        }
    </script>
    <%- include('footer') %>
    